/* Sonner custom */
[data-sonner-toast][data-styled="true"] {
    /* 👇 căn giữa & width theo text */
    width: max-content !important;
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px 15px !important;

    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
    border: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}
