/* Sonner custom */
[data-sonner-toast][data-styled="true"] {
    /* 👇 căn giữa & width theo text */
    width: max-content !important;
    max-width: 90vw;
    margin: 0 auto;
    padding: 10px 15px !important;

    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
    border: none !important;
}
